/*general*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #EEEFE6;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: rgba(1, 65, 9, 0.897);
}

a:hover {
  text-decoration: underline;
  font-weight:bolder;
}

.support-content {
  height: 100vh;
  flex-direction: column;
  text-align: center;
  margin-top:3rem;
  justify-content: space-around;
}

.base-button-div {
  /* for common stylings of button divs */
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.prdev-button-div {
  height: 2rem;
  max-height: 2rem;
  align-items: flex-start;
}

.e-learning-button-div {
  min-height: 25rem;
  align-items: center;
}

.button-base {
  /* for common stylings of button elements */
  background-color: whitesmoke;
  color: rgba(1, 65, 9, 0.897);
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  white-space: normal;
  font-size: 0.75rem;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgba(1, 65, 9, 0.897);
}

.button-small {
  width: 5rem;
  height: 3rem;
}

.button-large {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 1.2rem;
}

.button-base:hover {
  border-color: red;
  font-weight: bolder;
  text-decoration: none;
}

.button-base a:hover {
  text-decoration: none;
  font-weight: bold;
}


/*table mobile*/
.content-table {
  border-collapse: collapse;
  margin: 2rem auto;
  font-size: 0.9rem;
  width: 100%;
  max-width: 100%; /*make sure it doesn't exceed the screen width*/
  border-radius: 5px;
  overflow: hidden;
}

.content-table tr,
.content-table th,
.content-table td {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.75rem;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd
}

.content-table th:nth-child(1),
.content-table td:nth-child(1) {
  width: 25%;
  max-width: 25%;
  /* white-space: nowrap; */
}

.content-table td:nth-child(2) {
  text-align: left;
  padding-left: 1rem;
}

/*table desktop*/
@media all and (min-width: 768px) {
  .content-table {
    border-collapse: collapse;
    margin: 2rem auto;
    font-size: 0.9rem;
    width: 60%;
    max-width: 60%; /*make sure it doesn't exceed 60% of screen width*/
  }
}

/*table tablet*/


/*menu mobile*/
nav {
  background-color: rgba(1, 65, 9, 0.897);
  padding: 0.2rem 0.8rem;
  width:100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none; 
}

.menu a {
  color:white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu li {
  font-size: 1rem;
  padding: 0.8rem 0.3rem;
}

.menu li a {
  display: block;
}

.logo a {
  font-size: 1.7rem;
}

#logoPR {
  border-radius: 30px;
  width: 75px;
  height: auto;
}

.toggle {
  cursor: pointer;
  order:1;
}

.item {
  width:100%;
  text-align: center;
  order:2;
  display:none;
}

.item.active {
  display: block;
}

.bars {
  background: #999;
  display:inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,.bars::after {
  background: #999;
  content:"";
  display:inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {
  top:5px;
}

.bars::after {
  top:-5px;
}

/*menu tablet*/
@media all and (min-width:468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex:1;
  }
  .toggle {
    order:1;
  }

}

/*menu desktop*/
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order:0;
  }
  .menu li {
    padding: 1rem 0.75rem;
  }
  .nav {
    width: 100%;
    padding:0;
    margin:0;
  }
}

